__pycache__/
*.egg-info/
.python-version

# notebooks
.ipynb_checkpoints/

# developer stuff
.vscode/

# data
.csv
.parquet
.xls
.xlsx

# coverage
.coverage*
.coveragerc!

# notebooks
*.ipynb

# build artifacts
dist/
packages/
build/

# personal todo list
todo.txt